<h2>Home</h2>
<div class="warriors-home">
    {{#each WarriorsList}}
        <div class="warrior">
            <div class="delete">❌</div>
            <h3>Wojownik <br> <span class="name">{{this.name}}</span> | Hp:{{this.hp}}</h3>
            <h4>Stats:
                <ul>
                    <li>strength:{{this.strength}}</li>
                    <li>intelligence:{{this.intelligence}}</li>
                    <li>dexterity:{{this.dexterity}}</li>
                </ul>
            </h4>
        </div>
    {{/each}}
</div>
{{>add-form}}
{{>go-arena}}
<script src="/js/delete.js"></script>